body{
  width: 960px;
  margin: auto;
}
main img{
  height: 300px;
  width: 300px;
}

main section{
  float: left;
  height: 367px;
}

main p{
  width: 300px;
}

#photo-template{
  display: none;
}

footer{
  float: left;
  width: 960px;
  text-align: center;
}

